<div appBsModal #mySettingsModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true"
     [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content position-relative">
            <form *ngIf="active" #mySettingsModalForm="ngForm" (ngSubmit)="save()" [busyIf]="saving">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{"MyProfile" | localize}}</span>
                    </h5>
                    <button type="button" class="close" [attr.aria-label]="l('Close')" (click)="close()">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body" *ngIf="user">
                    <tabset class="my-settings">
                        <tab heading="{{'Profile' | localize}}">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="symbol symbol-100 mr-5 mt-1">
                                        <div class="symbol-label">
                                            <img [src]="profilePicture" class="symbol-label" />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="navi mt-1 mb-1">
                                            <a href="javascript:;" (click)="openProfilePictureModal()"
                                               class="btn btn-sm btn-light-primary font-weight-bolder py-3">
                                                {{"ChangeProfilePicture" | localize}}
                                            </a>
                                        </div>
                                    </div>
                                    <!-- <button type="button" class="btn btn-light-primary font-weight-bold" (click)="openProfilePictureModal()">
                                        {{"ChangeProfilePicture" | localize}}
                                    </button> -->
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label for="Name">{{"FirstName" | localize}} *</label>
                                        <input id="Name" #nameInput="ngModel" class="form-control" type="text" name="Name" [(ngModel)]="user.name" required maxlength="64">
                                        <validation-messages [formCtrl]="nameInput"></validation-messages>
                                    </div>

                                    <div class="form-group">
                                        <label for="Surname">{{"Surname" | localize}} *</label>
                                        <input id="Surname" #surnameInput="ngModel" type="text" name="Surname" class="form-control" [(ngModel)]="user.surname" required maxlength="64">
                                        <validation-messages [formCtrl]="surnameInput"></validation-messages>
                                    </div>
                                </div>

                                <div class="col-md-9" *ngIf="isGranted('Pages.Tenant.Settings.LocationAndDateOfBirth')">
                                    <div class="form-group">
                                        <label for="Location">{{"Location" | localize}}</label>
                                        <input id="Location" #locationInput="ngModel" class="form-control" type="text" name="Location" [(ngModel)]="user.location" maxlength="255">
                                        <validation-messages [formCtrl]="locationInput"></validation-messages>
                                    </div>

                                    <div class="form-group">
                                        <label for="DateOfBirth">{{"DateOfBirth" | localize}}</label>
                                        <div class="input-group date">
                                            <input id="DateOfBirth" [(ngModel)]="userDateOfBirth"
                                                type="text" #DateOfBirthPicker name="dateOfBirthDatepicker"
                                                class="form-control" placeholder="Select date"
                                                bsDatepicker
                                                datePickerMomentModifier
                                                [bsConfig]="{
                                                    adaptivePosition: true,
                                                    dateInputFormat: 'MM-DD-YYYY'
                                                }" />
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="flaticon-calendar-3"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="EmailAddress">{{"EmailAddress" | localize}} *</label>
                                <input id="EmailAddress" #emailAddressInput="ngModel" type="email" name="EmailAddress" class="form-control" [(ngModel)]="user.emailAddress" required email maxlength="256">
                                <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
                            </div>
                            <div *ngIf="smsEnabled">
                                <div class="form-group">
                                    <label>{{"PhoneNumber" | localize}}</label>
                                    <div class="input-group">
                                        <input type="text" name="PhoneNumber" class="form-control" [(ngModel)]="user.phoneNumber" maxlength="32">

                                        <span id="SpanSmsVerificationUnverified" class="input-group-btn">
                                            <button id="btnSmsVerification" (click)="smsVerify()" [disabled]="isPhoneNumberConfirmed && savedPhoneNumber == user.phoneNumber" class="btn btn-primary" type="button" tooltip="{{'YourPhoneNumberIsNotVerified' | localize}}">
                                                <i class="fa fa-exclamation-triangle"></i>{{'Verify' | localize}}
                                            </button>
                                        </span>

                                        <div *ngIf="isPhoneNumberConfirmed && savedPhoneNumber == user.phoneNumber" class="input-group-append" id="SpanSmsVerificationVerified">
                                            <span class="input-group-text" tooltip="{{'YourPhoneNumberIsVerified' | localize}}">
                                                <i class="la la-check label-success" [attr.aria-label]="l('Verified')"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="UserName">{{"UserName" | localize}} *</label>
                                <input id="UserName" #userNameInput="ngModel" type="text" [disabled]="!canChangeUserName" class="form-control" [(ngModel)]="user.userName" name="UserName" required maxlength="256">
                                <span class="form-text text-muted" *ngIf="!canChangeUserName">{{"CanNotChangeAdminUserName" | localize}}</span>
                                <validation-messages [formCtrl]="userNameInput"></validation-messages>
                            </div>

                            <div class="form-group" *ngIf="showTimezoneSelection">
                                <label for="Timezone">{{"Timezone" | localize}}</label>
                                <timezone-combo name="Timezone" [(ngModel)]="user.timezone" defaultTimezoneScope="{{defaultTimezoneScope}}"></timezone-combo>
                            </div>
                        </tab>
                        <tab heading="{{l('MySettings.SelfReporting')}}" *ngIf="isGranted('Pages.Tenant.Patient.SelfReporting')">
                            <self-reporting #selfReporting [patientId]="userId" [isEditable]="true"></self-reporting>
                        </tab>
                        <tab *ngIf="!isMultiTenancyEnabled || isTwoFactorLoginEnabledForApplication" heading="{{'TwoFactorLogin' | localize}}">
                            <div>
                                <h4>
                                    Google Authenticator
                                </h4>

                                <div [hidden]="!isGoogleAuthenticatorEnabled">
                                    <div>
                                        {{"ScanQrCodeWithYourMobileApp" | localize}}
                                    </div>
                                    <div class="text-center">
                                        <img [src]="user.qrCodeSetupImageUrl" />
                                    </div>
                                    <small>
                                        {{"GoogleAuthenticatorReferrerLink" | localize}}: <a href="https://support.google.com/accounts/answer/1066447" target="_blank" rel="noopener noreferrer">Google Authenticator</a>
                                    </small>
                                </div>

                                <div [hidden]="isGoogleAuthenticatorEnabled">
                                    <button type="button" class="btn btn-success" (click)="updateQrCodeSetupImageUrl()">{{"Enable" | localize}}</button>
                                </div>

                                <div [hidden]="!isGoogleAuthenticatorEnabled">
                                    <button type="button" class="btn btn-danger" (click)="disableGoogleAuthenticator()">{{"Disable" | localize}}</button>
                                </div>
                            </div>
                        </tab>
                        <tab heading="{{l('MySettings.AreaOfSpecialities')}}" *ngIf="isGranted('Pages.Tenant.Settings.MedicalSpecialityManagement')">
                            <div>
                                <div>
                                    <area-of-speciality #areaOfSpeciality [specialities]="specialities"></area-of-speciality>
                                </div>
                            </div>
                        </tab>
                        <tab heading="{{l('MySettings.BioAndBackground')}}" *ngIf="isGranted('Pages.Tenant.Settings.BioAndBackgroundManagement')">
                            <div class="form-group">
                                <label for="BioAndBackground">{{l('MySettings.BioAndBackground')}}</label>
                                <textarea name="BioAndBackground" id="BioAndBackground" [(ngModel)]="user.bioAndBackgroundDescription" class="form-control my-settings__bio"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="ExternalLinkUrls">{{l('MySettings.ExternalLinkUrl')}}</label>
                                <textarea name="ExternalLinkUrls" id="ExternalLinkUrls" [(ngModel)]="user.externalLinkUrls" class="form-control my-settings__external-url"></textarea>
                            </div>
                        </tab>
                        <tab heading="{{l('MySettings.PatientAttachments')}}" *ngIf="isGranted('Pages.Tenant.Settings.PatientAttachments')">
                            <div class="form-group">
                                <h3>Medical Forms</h3>
                                <attachments-panel #patientMedicalForms [isEditable]="true" [userId]="userId" [attachmentType]="attachmentType.PatientMedicalForm"></attachments-panel>
                            </div>
                            <hr />
                            <div class="form-group">
                                <h3>Documents</h3>
                                <attachments-panel #patientDocuments [isEditable]="true" [userId]="userId" [attachmentType]="attachmentType.PatientDocument"></attachments-panel>
                            </div>
                        </tab>
                        <tab heading="{{l('MySettings.CalendarSynchronization')}}" *ngIf="calendarAccessGranted">
                            <div *ngIf="user.calendaerInfo == null">
                                <button #authGoogleBtn class="btn btn-secondary" (click)="connectGoogleAccount()" type="button">
                                    {{l('MySettings.CalendarSynchronization.ConnectGoogleAccount')}}
                                </button>
                            </div>
                            <div *ngIf="user.calendaerInfo != null">
                                <div *ngIf="user.calendaerInfo.mainCalendarId">
                                    <p><b>{{l('MySettings.CalendarSynchronization.GoogleSyncTurnedOn')}}</b></p>
                                    <p>{{l('MySettings.CalendarSynchronization.LinkedGoogleAccount')}}: <b>{{user.calendaerInfo.googleEmial}}</b></p>
                                    <p>{{l('MySettings.CalendarSynchronization.LastSyncDate')}}: <b>{{user.calendaerInfo.lastSyncTime | userTimeFormat:'LLL'}}</b></p>
                                </div>
                                <div *ngIf="!user.calendaerInfo.mainCalendarId">
                                    <p><b>{{l('MySettings.CalendarSynchronization.SelectCalendarToFinish')}}</b></p>
                                </div>

                                <div class="form-group">
                                    <label for="SyncCalendar">{{'MySettings.CalendarSynchronization.CalendarToSync' | localize}}</label>
                                    <select class="form-control" [(ngModel)]="user.calendaerInfo.mainCalendarId" name="mainCalId" required>
                                        <option [ngValue]="null" hidden></option>
                                        <option *ngFor="let cal of calendars" [ngValue]="cal.key">{{cal.value}}</option>
                                    </select>
                                </div>

                                <div>
                                    <button type="button" class="btn btn-light-danger" (click)="disconnectGoogleAccount()" [disabled]="saving">
                                        {{l('MySettings.CalendarSynchronization.DisconnectGoogleAccount')}}
                                    </button>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" (click)="close()" [disabled]="saving">{{"Cancel" | localize}}</button>
                    <button type="submit" class="btn btn-primary font-weight-bold" [disabled]="!mySettingsModalForm.form.valid || saving"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
<smsVerificationModal *ngIf="user" #smsVerificationModal (modalSave)="changePhoneNumberToVerified()" [newPhoneNumber]="user.phoneNumber"></smsVerificationModal>
